
@font-face {
  font-family: 'Chibola';
  src: url('Chibola.eot?#iefix') format('embedded-opentype'),  url('Chibola.woff') format('woff'), url('Chibola.ttf')  format('truetype'), url('Chibola.svg#Chibola') format('svg');
  font-weight: normal;
  font-style: normal;
}
